@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'components/fonts'; 
@import 'components/global';
@import 'components/header';

@import 'components/news';

@import 'components/footer';

.news-see-more {
    margin-top: 22px;
    outline: 0;
    border: 0;
    background: transparent;
}