.footer {
    padding: 50px 0;
    &-contacts {
        &-item {
            @include contacts-item;
        }
    }
    &-nav {
        &-list {
            padding: 0;
            list-style: none;
            font-family: var(--ff-100);
            color: var(--clr-100);
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.2em;
            text-decoration: none; 
            a {
                font: inherit;
                text-decoration: inherit;
                color: inherit;
            }
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                column-gap: 15px;
            }
            @media (min-width: 1024px) {
                column-gap: clamp(8px, .8vw, 15px);
                justify-content: center;
            }
            @media (max-width: 767px) {
                li {
                    &:not(:last-child) {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
    &-flex {
        @media (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media (min-width: 1024px) {
            max-width: clamp(330px, 28vw, 440px);
        }
        @media (max-width: 1023px) {
            margin-top: 50px;
        }
    }
    &-socials {
        &-list {
            ul {
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                gap: clamp(12px, 3vw, 18px);
            }
        }
    }
}