.container {
    max-width: 1370px;
    margin: 0 auto;
    @media (max-width: 1399px) {
        padding: 0 20px;
    }
    @media (max-width: 575px) {
        padding: 0 15px;
    }
}

.highlighted {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        height: 27px;
        width: 100%;
        background-color: var(--clr-300);
        bottom: 5px;
        left: 0;
        z-index: -1;
    }
}

.section-title {
    font-family: var(--ff-200);
    font-weight: 900;
    font-size: clamp(35px, 4vw, 60px);
    line-height: 1em;
    color: var(--clr-100);
    text-transform: uppercase;
}

.img-decorated {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: calc(var(--img-height) + 20px);
        height: calc(var(--img-height) + 20px);
        background-image: url('../img/decorations/images-before.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -6%;
        z-index: -1;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -33%;
        z-index: -1;
        background: radial-gradient(50% 50% at 50% 50%, rgba(248, 206, 143, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
        filter: blur(25px);
        width: calc(var(--img-height) * 2);
        height: calc(var(--img-height) * 2);
    }
    &.img-decorated-r {
        &::after {
            left: auto;
            right: calc(var(--img-height) * -1 + 6%);
        }
    }
    &.img-decorated-shine {
        &::before {
            display: none;
        }
    }
    @media (max-width: 767px) {
        &::before {
            left: -4%;
            width: calc(var(--img-height) + 10px);
            height: calc(var(--img-height) + 10px);
        }
    }
}

body {
    min-width: 320px;
}

.l-hidden {
    @media (min-width: 1024px) {
        display: none !important;
    }
}

.s-hidden {
    @media (max-width: 1023px) {
        display: none !important;
    }
}

.see-more {
    display: inline-block;
    position: relative;
    font-family: var(--ff-100);
    color: var(--clr-100);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
    text-decoration: none;
    @media (max-width: 767px) {
        font-size: 18px;
    }
    &::after {
        content: '';
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg width='35' height='32' viewBox='0 0 35 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15C0.447715 15 0 15.4477 0 16C0 16.5523 0.447715 17 1 17L1 15ZM34.7071 16.7071C35.0976 16.3166 35.0976 15.6834 34.7071 15.2929L28.3431 8.92893C27.9526 8.53841 27.3195 8.53841 26.9289 8.92893C26.5384 9.31946 26.5384 9.95262 26.9289 10.3431L32.5858 16L26.9289 21.6569C26.5384 22.0474 26.5384 22.6805 26.9289 23.0711C27.3195 23.4616 27.9526 23.4616 28.3431 23.0711L34.7071 16.7071ZM1 17L34 17V15L1 15L1 17Z' fill='%231F1F1F'/%3E%3C/svg%3E%0A");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 33px;
        height: 31px;
        vertical-align: middle;
        margin-left: .6em;
    }
}

.title-curve {
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='446' height='53' viewBox='0 0 446 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M214 53C123.945 53 45.4776 23.5002 2.57895e-06 23.5002L4.36685e-05 0.750202L446 0.750104L446 23.5002C389.123 23.5003 304.055 53 214 53Z' fill='white'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 446px;
        height: 52px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -48%;
        z-index: -1;
    }
    @media (max-width: 1023px) {
        &::after {
            width: 205px;
            bottom: -78%;
        }
    }
}

.bg-100 {
    background-image: url('../img/decorations/bg-100.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cols-5-7 {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 41% 1fr;
        column-gap: clamp(15px, 3vw, 30px);
    }
}

.text-100 {
    font-family: var(--ff-100);
    color: var(--clr-100);
    font-weight: 400;
    font-size: clamp(16px, 1.5vw, 20px);
    line-height: 1.2em;
    strong {
        font-weight: 600;
    }
}

.paragraph-title {
    font-family: var(--ff-100);
    color: var(--clr-100);
    font-weight: 600;
    font-size: clamp(20px, 1.5vw, 24px);
    line-height: 1.208em;
    margin-bottom: 1em;
}

.title-glow {
    position: relative; 
    &::before {
        position: absolute;
        content: '';
        background-image: radial-gradient(50% 50% at 50% 50%, rgba(248, 206, 143, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
        filter: blur(25px);;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        --size: clamp(200px, 24vw, 450px);
        height: var(--size);
        width: var(--size);
        bottom: -50%;
        left: -15%;
        z-index: -1;
    }
}