.hero {
    padding: 160px 0;
    background: url('../img/decorations/hero-bg.jpg') center center / cover no-repeat;
    position: relative;
    z-index: 1;
    @media (min-width: 1440px) {
        min-height: 540px;
    }
    &-pattern {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        img {
            max-height: 100%;
        }
    }
    &-subtitle {
        font-family: var(--ff-100);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2em;
        color: var(--clr-400);
    }
    &-title {
        color: var(--clr-400);
        font-family: var(--ff-200);
        font-weight: 900;
        font-size: 90px;
        line-height: 1em;
        text-transform: uppercase;
    }
    &-text {
        font-family: var(--ff-100);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2em;
        color: var(--clr-100);
        max-width: 28.3em;
        margin-top: 1.4em;
    }
    &-wrap {
        position: relative;
    }
    &-btn {
        background: transparent;
        outline: 0;
        border: 0;
        position: absolute;
        bottom: -52px;
        z-index: 2;
        &::after {
            position: absolute;
            content: '';
            background: url('../img/decorations/curve.svg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 214px;
            height: 124px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

@media (max-width: 1699px) {
    .hero {
        &-pattern {
            // right: -50px;
        }
    }
}

@media (max-width: 1023px) {
    .hero {
        padding: 82px 0;
        min-height: 615px;
        &-pattern {
            inset: unset;
            bottom: 0;
            right: 0;
        }
    }
}

@media (max-width: 767px) {
    .hero {
        &-title {
            font-size: 60px;
        }
        &-text {
            font-size: 14px;
        }
        &-btn {
            bottom: -24px;
            img {
                --size: 65px;
                width: var(--size);
                height: var(--size);
            }
            &::after {
                width: 120px;
                height: 70px;
            }
        }
    }
}