:root {
    --clr-100: hsl(0, 0%, 0%);
    --clr-150: hsl(0, 0%, 33%);
    --clr-200: hsl(0, 0%, 57%);
    --clr-300: hsl(0, 0%, 100%);
    --clr-400: hsl(0, 0%, 8%);
    --clr-500: hsl(0, 0%, 44%);
    --clr-600: hsl(0, 0%, 80%);
    --clr-700: #EBCC80;

    --ff-100: 'Montserrat', sans-serif;
    --ff-200: 'Intro Black Caps', sans-serif;
}